.navbar {
    
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 100px;
}
.header {
    width: 100%;
    background-color: #0E1625;
    padding: 20px 0px;
    
}
.navbar {
    margin: 0px;
}
.navbar-menu{
    color: #9CA0A5;
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-menu li {
    margin-right: 30px;
}
.login-button {
    padding: 15px 30px;
    background-color: #1D45F0;
    border: 0px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    vertical-align: middle;
}
