.imgCenter {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
   
    object-fit: cover;
}

.imgContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    gap: 10px;
    /* margin: 10px 0px; */
}
.imgContainer > img {
   width: 100%;
   border-radius: 10px;
  height: 140px;
   cursor: pointer;
   
   
}
.details-container h2 {
    margin-top: 20px;
}
.details-icon-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 10;
}
.detail-item-icon {
    display: flex;
    align-items: center;
}
.detail-item-icon p {
    margin-left: 10px;
}
.details-icon-container {
    padding: 30px;
    background-color: #FFF9EF;
    margin-top: 20px;
    border-radius: 10px;
}
.detail-left {
    width: 75%;
}
.detail-right {
    width: 25%;
}
.detail-menu {
    display: flex;
}
.description-container  {
    margin-top: 20px;
}
.description-container p {
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
    color: #9FA3AC;
}
.map-container {
    height: 400px;
    padding: 30px;
    border: 1px solid #F0F2FC;
    margin-top: 20px;
    border-radius: 10px;
}
.description-container h3 {
   
}